*
!public/
!.gitignore

!aut_pub.json
!aut_tit.json
!awards.json
!categories.json
!col_pub.json
!collections.json
!cyc_tit.json
!cycles.json
!editeurs.json
!pub_tit.json
!publications.json
!reprints.json
!titles.json
!variants.json
!winners.json





